*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.container{
    background-color: beige;
    width: 90%;
    position: relative;
    max-width: 450px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 1.2rem;
    border: 1px solid gray;
}

.container h1{
    position: absolute;
    top: 1.2rem;
    margin-bottom: 20px;
}
.container blockquote{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    margin-bottom: 20px;
    transform: translateY(-50%);
    padding: 0px 60px;
}
.container .generate-btn{
    position: absolute;
    width: 50%;
    background-color:aliceblue;
    /* border: 1px solid gray; */
    border-radius: 1.2rem;
    bottom: 1.2rem;
    cursor: pointer;
}